@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/free-mode';
@import 'swiper/css/thumbs';

@theme {
  --breakpoint-xs: 25rem;

  --font-main: 'Kumbh Sans';

  --color-grey-950: #1d2026;
  --color-grey-500: #69707d;
  --color-grey-300: #c3cad9;
  --color-grey-100: #e4e9f2;
  --color-grey-50: #f6f8fd;
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  --color-lightbox-overlay: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf')
    format('truetype-variations');
}

@layer components {
  .text-preset-1 {
    @apply text-[44px] leading-[48px] font-bold;
  }
  .text-preset-2 {
    @apply text-[28px] leading-[32px] font-bold;
  }
  .text-preset-3 {
    @apply text-[16px] leading-[26px] font-bold;
  }
  .text-preset-4 {
    @apply text-[15px] leading-[26px];
  }
  .text-preset-5 {
    @apply text-[13px] leading-[16px] tracking-[2px] font-bold;
  }
  .text-preset-6 {
    @apply text-[12px] leading-[15px] tracking-[1.85px] font-bold;
  }

  .button-primary {
    @apply bg-orange-500 text-[16px] leading-[26px] font-bold flex items-center justify-center rounded-[10px] cursor-pointer;
  }

  .filter-grey-950 {
    filter: brightness(0) saturate(100%) invert(11%) sepia(4%) saturate(2164%)
      hue-rotate(182deg) brightness(91%) contrast(94%);
  }

  .nav-btn:hover > svg {
    filter: brightness(0) saturate(100%) invert(40%) sepia(45%) saturate(2991%)
      hue-rotate(4deg) brightness(97%) contrast(90%);
  }
}

.mobile-swiper-image-container:nth-child(1) > img {
  object-position: 50% 65%;
}

.mobile-swiper-image-container:nth-child(2) > img {
  object-position: top;
}

.mobile-swiper-image-container:nth-child(3) > img {
  object-position: 50% 10%;
}

.mobile-swiper-image-container:nth-child(4) > img {
  object-position: 50% 20%;
}

.close-icon {
  transition: all 0.15;
  filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(0%)
    hue-rotate(91deg) brightness(104%) contrast(104%);
}

.close-icon:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(73%) saturate(1189%)
    hue-rotate(346deg) brightness(103%) contrast(103%);
}

#thumbnail-swiper > .swiper-wrapper > .swiper-slide {
  width: auto !important;
}

#thumbnail-swiper > .swiper-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}
